<p style="color: green"><%= notice %></p>

<% content_for :title, "Turbo frame posts" %>

<h1>Turbo frame posts</h1>

<%= turbo_frame_tag TurboFramePost.new do %>
  <%= link_to "New turbo frame post", new_turbo_frame_post_path %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render "turbo_frame_posts/post", post: post %>
    <p>
      <%= link_to "Show", turbo_frame_post_path(post) %>
      <!-- Edit isn't within a turbo frame, so in order to edit inline provide turbo frame -->
      <%= link_to "Edit", edit_turbo_frame_post_path(post), data: { turbo_frame: dom_id(post) } %>
      <%= link_to "Delete", turbo_frame_post_path(post), method: :delete %>
    </p>
  <% end %>
</div>
