<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag @post do %>
  <%= render "turbo_frame_posts/post", post: @post %>
<% end %>

<div>
  <%= link_to "Edit this turbo frame post", edit_turbo_frame_post_path(@post) %> |
  <%= link_to "Back to turbo frame posts", turbo_frame_posts_path %>

  <%= button_to "Destroy this turbo frame post", turbo_frame_post_path(@post), method: :delete %>
</div>
