<% content_for :title, "Showing turbo frame post" %>
<%= render "/header" %>

<%= render "turbo_frame_posts/post", post: @post %>

<div>
  <p>
    <strong>Created At:</strong>
    <%= @post.created_at %>
  </p>

  <p>
    <strong>Updated At:</strong>
    <%= @post.updated_at %>
  </p>
</div>

<div>
  <%= link_to "Edit", edit_turbo_frame_post_path(@post), data: { turbo_frame: dom_id(@post) } %> |
  <%= link_to "Back to turbo frame posts", turbo_frame_posts_path %>

  <!-- NB: deletes however, turbo stream response doesn't find element to remove from dom and there's no redirect etc. -->
  <%= button_to "Destroy this turbo frame post", turbo_frame_post_path(@post), method: :delete %>
</div>
